body            { font-family: sans-serif; background-image: url('./seigaiha.png'); background-repeat: repeat; }
a               { color: #494847; }
a:link          { text-decoration: none; }
a:visited       { text-decoration: none; }
a:hover         { background-color: #7f92a5;}
a:active        { text-decoration: underline; }
h1              { font-family: 'Cinzel Decorative', cursive; margin: 0; color: #C4BFAD; font-size: 72px; text-shadow: 2px 2px 4px #000000; }
h2              { font-family: 'Cinzel'; font-size: 1.5em; serif; margin: 0; color: #93918e;}
h1              { border-bottom: 2px solid #eee; }
.logo-img img   { width: 32px; height: 32px; }

.container      { max-width: 1000px; }
.page           { margin: 3em auto; width: 95%; border-radius: 25px; border: 2px solid #ccc;
                  padding: 0.8em; background: #f6f3ee; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; margin-bottom: 0; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

.subscription   { padding: 25px; line-height: 25px; border: 2px solid #eee; }
.inactive       { border-style: dashed; border-color: #D6DBDF; background-color: #F4F6F6; }
.active         { border-style: solid; border-color: #2ECC71; background-color: #E9F7EF; }
#default        { font-size: 50px; }
#footer          { text-align: center; }

.show           { display: inline;  }
.hide           { display: none; }

.center         { margin: auto; width: 90%; padding: 10px; }
.btn            { width: 180px; }
