{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% endif %}
    <h2>All Subscriptions</h2>
  <ul class="entries">
  {% for s in subscriptions %}
    <li><div class="{{ 'subscription odd' if loop.index % 2 else 'subscription even' }}"><img src="../static/spotify.png" alt="Spotify Logo"> &nbsp; {{s.name}} &nbsp;&nbsp;&nbsp;&nbsp; Status: {% if s.is_active %} Active {% else %} Inactive {% endif %} <a class="{{ 'hide' if s.is_active else 'show btn' }}" href="{{ url_for('enable_subscription', id=s.subscription_id) }}">Activate</a><a class="{{ 'show btn' if s.is_active else 'hide' }}" href="{{ url_for('disable_subscription', id=s.id) }}">Deactivate</a>
    <br>
    Card ending in: {{s.last_four_credit_card}}  &nbsp;&nbsp;&nbsp;&nbsp; Next Payment Date: {{s.next_charge_dt}} &nbsp;&nbsp;&nbsp;&nbsp; Next Payment Charge: ${{s.next_charge_amt}}
    </div></li>
    <li><div class="subscription even"><img src="../static/netflix.png" alt="Netflix Logo">&nbsp; Netflix &nbsp;&nbsp;&nbsp;&nbsp; Status: Inactive <a class="btn">Activate</a>
    <br>
    Card ending in: {{s.last_four_credit_card}}  &nbsp;&nbsp;&nbsp;&nbsp; Next Payment Date: {{s.next_charge_dt}} &nbsp;&nbsp;&nbsp;&nbsp; Next Payment Charge: $7.99
    </div></li>
  {% else %}
    <li>    <div class="global-nav"> <a href="#wut">What We Do</a> | <a href="#about">About Our Team</a> | <a href="#contact">Contact Us</a>
    </div>
    <div id="default">All your subscriptions in one place. Simple.</div></li>
  {% endfor %}
  </ul>
  <div class="wut"><a name="wut"></a>Here's where we say what we do</div>
  <div class="about"><a name="about"></a>Here's where we talk about our team</div>
  <div class="contact"><a name="contact"></a>Here's where people can fill out a form to contact us? This is fluff</div>
  <div id="footer">&copy; Subscribely</div>
{% endblock %}
