{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  {% endif %}
    <h2>All Subscriptions</h2>
  <ul class="entries">
  {% for s in subscriptions %}
    <li><div class="{{ 'subscription odd' if loop.index % 2 else 'subscription even' }}"><img src="../static/{{s.name}}.png" alt="{{s.name}} Logo"> &nbsp; {{s.name}} &nbsp;&nbsp;&nbsp;&nbsp; Status: {% if s.is_active %} Active {% else %} Inactive {% endif %} <a class="{{ 'hide' if s.is_active else 'show btn btn-success' }}" href="{{ url_for('enable_subscription', id=s.subscription_id) }}">Activate</a><a class="{{ 'show btn btn-danger' if s.is_active else 'hide' }}" href="{{ url_for('disable_subscription', id=s.subscription_id) }}">Deactivate</a>
    <br>
    {% if s.is_active %}
    Card ending in: {{s.last_four_credit_card}}  &nbsp;&nbsp;&nbsp;&nbsp; Next Payment Date: {{s.next_charge_dt}} &nbsp;&nbsp;&nbsp;&nbsp; Next Payment Charge: ${{s.next_charge_amt}}<br>
    <a href="{{ url_for('update_credentials') }}">Change credentials</a>
    {% else %}
    <a href="{{ url_for('update_credentials') }}">Set credentials</a>
    {% endif %}
    </div></li>
  {% else %}
    <li><div class="global-nav"> <a href="#wut">What We Do</a> | <a href="#about">About Our Team</a> | <a href="#contact">Contact Us</a>
    </div>
    <div id="default">All your subscriptions in one place. Simple.</div></li>
  {% endfor %}
  </ul>
  <div id="footer">Made with &#9829; at Money2020 Hackathon 2016</div>
{% endblock %}
