{% extends "layout.html" %}
{% block body %}
<h2>Spotify Credentials</h2>
{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
<p>Make changes to your Spotify credentials</p>
<form action="{{ url_for('update_credentials') }}" method="post">
  <dl>
    <dt>Username:</dt>
    <dd><input type="text" name="username"></dd>
    <dt>Password:</dt>
    <dd><input type="text" name="password"></dd>
    <dd><input type="submit" name="credential_info" value="Update credentials">
  </dl>
</form>
{% endblock %}
